# ignore all wav mp3 and files (almost 30gb)
*.wav
*.mp3

# ignore all data files
*.tsv
*.csv
*.npy
*.pkl

# ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# ignore lightning logs & tensorboard stuff
lightning_logs/*
runs/*
*.log
*.ckpt
*.pyc

# ignore Python cache files and directories
__pycache__/
*.py[cod]

.DS_Store